* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, ul, li {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

ul {
    justify-content: space-between;
}

body {
    margin: 3em auto;
    width: 60em;
    justify-content: center;
    background-color: rgb(209, 209, 209);
}

img {
    width: 250px;
    height: auto;
}

li {
    border: 5px solid rgb(41, 40, 40);
    padding: 30px 15px;
    align-items: center;
    box-shadow:
    inset 0 0 1em rgb(87, 87, 87),
     0 0 1em black;
    background-color: white;
}