body {
    width: 480px;
    background-color: #f9f7cf;
}

header {
    background-color: #f2dcbb;
    padding: 15px 5px 15px;
}
footer {
    background-color: #f2dcbb;
    padding: 10px 5px 10px;
}

header > h1 , h2 {
    margin-left: 10px;
}
footer > p {
    margin-left: 10px;
}